<launch>
  <!-- launch after roslaunch rm_debris_vision plane_extraction.launch in vision pc -->
  <node pkg="rm_debris_vision" name="get_plane" type="get_plane_with_service.py" output="screen" />
  <node pkg="rm_debris_vision" name="make_plane_realtime" type="make_plane_for_ik.l" output="screen" />
  <node pkg="rm_debris_vision" name="make_plane_for_ik_loop" type="make_plane_for_ik_server.l" output="screen" />
  <node pkg="rm_debris_vision" name="change_clip_box" type="change_clip_box_server.l" output="screen" />
</launch>
